{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block content %} 

Shrey Brimiwal & Alexander Reinsch are very excited to be working on bringing you a new socially responsible pet oriented social media platform that rewards you for picking up your pet's waste!  

We do not want to give too much away right now but it will be a fun place to bring pet owners together while promoting volunteer park and trail clean up and restoration efforts around the globe! 

We are looking to raise capitol to cover some basic costs of all the research and website developments we have been working on. This will also be used to help us cover our low overhead costs for instance we would like assistance in paying for things like the domain name. We know servers are expensive but we have big big dreams so we will rent until the time comes when we will raise additional funding.

Any help is appreciated.

More details to come!





 {% endblock %} 
