{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block content %} 
<p>                            </p>
DooDooKarma is a socially responsible pet oriented social media platform that rewards you for picking up your pet's waste! We do not want to give too much away right now but it will be a fun place to bring pet owners together while promoting volunteer park and trail clean up and restoration efforts around the globe! 

We are looking to raise capitol to cover some basic costs of all the research and website developments we have been working on. This will also be used to help us cover our low overhead costs for instance we would like assistance in paying for things like the domain name. We know servers are expensive but we have big big dreams so we will rent until the time comes when we will raise additional funding.


<h1> Updates </h1>
<p>
Jan 13 2020
We have released our very own<a href = "https://www.gofundme.com/f/help-us-launch-doodookarmacom?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1"> GoFundMe page!</a>
</p>
<p>
V1.0.0 First Release Jan 24, 2021
Notes:
	Login/Logout system complete
	Posting system complete
	Update Acount complete
	Leaderboard system based on karma complete
	Cleared DataBase and uploaded to heroku
</p>
 {% endblock %} 
