<title> {% block title %} {% endblock %}</title>

<a href= "{{ url_for('feed')}}"> Feed </a>
<a href= "{{ url_for('about')}}"> About </a>

{% if current_user.is_authenticated %}
<a href= "{{ url_for('logout')}}"> Logout </a>
<a href= "{{ url_for('account')}}"> Profile </a>

{% else %}
<a href= "{{ url_for('login')}}"> Login </a>
<a href= "{{ url_for('register')}}"> Register </a>
{% endif %}

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
{{message}}

{% endfor %} {% endif %} {% endwith %} {% block content%} {% endblock %}