{% extends "layout.html" %}
{% block content %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <legend>Log In</legend>
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
              
                {{ form.submit(class="btn btn-outline-info") }}
          
            <p>
                <a href="#">Forgot Password?</a>
            </p>
   
            Need An Account? <a href="{{ url_for('register') }}">Sign Up Now</a>

{% endblock content %}